/* CARD STYLES */
.main-card {
    width: 13rem;
    height: 7rem;
    margin: 0 0.35rem;
    background-size: cover;
}

.business-title {
    font-size: 1.5rem;
}

/* MODAL STYLES */
.modal-card {
    width: 35rem;
    font-size: 0.8rem;
}

/* SLIDER STYLES */
.nextSlide {
    width: 2rem;
    height: 2rem;
    background-color: #FFFFFF;
    border-radius: 100%;
    border: .15rem solid #d1d1d1;
    cursor: pointer;
    transition: .25s;
}

.nextSlide:hover {
    background-color: #d1d1d1;
}

.slider-wrapper{
    margin: 1rem 0 0 0;
    display: flex;
}

.titles {
    text-align: left;
}

.titles h3, h6 {
    margin-bottom: 0;
    margin-left: .55rem;
}

.titles h6 {
    font-weight: 400;
}

.wrap {
margin: .5rem 0;
}