.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav-Button {
  margin-bottom: 0.1cm;
  padding-top: 0.6cm;
  margin-right: 0.5cm;
}

.Nav-Button-Text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Logo {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: #30c591;
  font-size: 2cm;
  margin-bottom: -1cm;
  margin-top: -0.6cm;
}